{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'acceuil' %}">Accueil</a></li>
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </nav>
            
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">{% block title %}{% endblock %}</h4>
                </div>
                <div class="card-body">
                    {% block facture_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
